#header {
  position: relative;
  margin: 0;
  padding-top: 0px;
  background-color: #333;
}
body{
margin:0px;
}
ul {
  overflow: hidden;
 
}
li {
   display: inline;
}
li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  float: right;
  text-decoration: none;


}

li a:hover {
  background-color: #111;
}